
.header-breadcrumbs{
  padding-top: 7px;
  .ptitle{
    padding: 8px 10px 0px 10px;
    float: left;
  }
  .breadcrumb{
    margin: 0px;
    border: 0;
    float: left;
  }
}
.clear{
  clear: both;
}
.breadcrumbs-box{
  padding: 8px 8px 0px 8px;
  display: block;
  float: none;
  .breadcrumb{
    margin: 0;
  }
}
.select2-chosen,
.select2-choice > span:first-child,
.select2-container .select2-choices .select2-search-field input{
  padding: 0px 12px;
}
.elfinder *{
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
h1, .h1, h2, .h2, h3, .h3{
  margin-top: 10px;
}
.wrapper{
  padding: 0px 15px;
}
.scrollable{
  overflow: hidden;
}
section.pleft-col{
  position: relative;
}
.filemanager-btn{
  cursor: pointer;
}