.header-breadcrumbs {
  padding-top: 7px;
}
.header-breadcrumbs .ptitle {
  padding: 8px 10px 0px 10px;
  float: left;
}
.header-breadcrumbs .breadcrumb {
  margin: 0px;
  border: 0;
  float: left;
}
.clear {
  clear: both;
}
.breadcrumbs-box {
  padding: 8px 8px 0px 8px;
  display: block;
  float: none;
}
.breadcrumbs-box .breadcrumb {
  margin: 0;
}
.select2-chosen,
.select2-choice > span:first-child,
.select2-container .select2-choices .select2-search-field input {
  padding: 0px 12px;
}
.elfinder * {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
